.category{

    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none;

}
.category::-webkit-scrollbar {
    display: none;  
  }



