.search-bar-nav{
    display: none;

}

.original-search-bar-nav{
    display: block;
}
.menu-bar-nav{
    display: block;
}


.nav-wrapper{
    background-color: #f5f5f5;
    position: fixed;
    z-index: 3;
  }

@media (max-width: 992px) {
    .search-bar-nav {
      display: block;
    }
    .original-search-bar-nav {
        display: none;
      }
  }
.search-result{
  top:65px;
}
.Link{
  text-decoration: none;
  color: black;
}

.Link:hover{

color: blue;

}

@media(max-width:990px){

  .search-result{
    top:27%;
  }
  
  
  }

