
.dashboard-container{

    background-color: whitesmoke;
    padding-bottom: 30%;

}
@media screen and (min-width:768px){
    .dashboard-container{
        display: block;
        min-height:80vh;
        background-color: white;
        padding: 10px;
        padding-left: 0px;
        background-color: whitesmoke;

    }
}
.main-content{
    
    padding: 10px;
     background-color: whitesmoke;
     width:100%;
 }
 
 .header-down{
     display: block;
     margin-bottom: 90px;
     background-color: whitesmoke;
     border-radius: 10px;
     width: 100%;
     min-height: 100vh;
 }
 
 
 
 
 @media screen and (min-width:768px){
 
     .header-down{
 
         display: flex;
         margin-top: 0px;
 
         }
 
     .main-content{
     
         padding: 10px;
         margin-left: 150px;
         margin-top: 50px;
         margin-right: 30px;
         width: 100%;
     min-height: 90vh;
     background-color: whitesmoke;
     border-radius: 10px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
     
     
     }
     .home-container{
         background-color: whitesmoke;
         height:100vh;
     }
 }
 
 
 
 
 @media screen and (min-width:993px){
     
 
     .main-content{
     
         padding: 10px;
         margin-left: 230px;
         margin-top: 50px;
         margin-right: 30px;
         width: 100%;
     min-height: 80vh;
     background-color: whitesmoke;
     border-radius: 10px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
     
     
     }
     }